# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL="file:./dev.db"

# JWT Secrets
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Kafka
KAFKA_BROKERS=localhost:9094,localhost:9095,localhost:9096
KAFKA_CLIENT_ID=auth-service

# CORS
CLIENT_URL=http://localhost:5173
